*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.signup-page{
    width: 800px;
    height: 500px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 40px;
    height: 100%;
}
form input{
    padding-left: 10px;
    height: 40px;
    margin: 10px 0;
    background-color: #333;
    outline: none;
    border: 2px solid gray;
    color: lightgray;
    font-size: 15px;
    font-weight: 600;
}
form input:nth-child(4){
    margin-bottom: 30px;
}
.signup-links{
    flex: 1;
    height: 100%;
    background-color: black;
}
span label{
    font-size: 18px;
    font-weight: 500;
}
span{
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: white;
}
span label{
    margin: 30px 0;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}
#checkbox{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
form button{
    width: 100px;
    height: 40px;
    background-color: lightgray;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: rgb(12, 10, 10);
}
form input:focus{
    background-color: gray;
    color: white;
}
form input::placeholder{
    color: white;
}
.signup-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #111;
}
.signup-links ul{
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup-links ul li{
    list-style: none;
    padding: 20px 40px;  
    text-align: center;
    margin:  10px 0;
    cursor: pointer;
}
.signup-links ul li:nth-child(1){
    background-color: rgb(1, 106, 243);
}
.signup-links ul li:nth-child(2){
    background-color: rgb(60, 132, 226);
}
.signup-links ul li:nth-child(3){
    background-color: tomato;
}
.signup-links ul li a{
    text-decoration: none;
    color: white;
}